head
    title Profile
    link(href="../../stylesheets/css/style.css", rel="stylesheet")
    style(type='text/css').
        .bg-image {background-image:url(#{photo}?type=large);}
body
    main
        div.container-userinfo
            div(class="id" id=id style="display:none;")
            div(class="bg bg-image")
            div(class="bg bg-statusdie")
            div(class="bg bg-statusdemo")
            h1(class="header header-title")= status
        div.container-demoinfo
            div.info-user.bold
                span.left
                    p.info.info-vote Now on stage
                span.right
                    p(class="info-user__name")= name
        div.container-vote-buttons
            a.btn.btn__demo(href='#' id="demo" value=demo) Demo
            p or
            a.btn.btn__die(href='#' id="die" value=die) Die
        script(src='/primus/primus.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='http://localhost:3000/javascript/vote.js')